body {
    text-align: center;
    align-items: center;
  
  }
  a {
    text-decoration: none;
    text-align: center;
    align-items: center;
  
  }
  #heloo {
    text-decoration: none;
    
  }
button {
  align-items: center;
  text-align: center;
}  